@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nuosu+SIL&family=Roboto+Mono:ital,wght@1,100&family=Roboto:ital@1&family=Tiro+Bangla&display=swap');


*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    padding: 2px;
    font-family: 'Tiro Bangla', serif;
    margin-top: 5px;
}